.header-social-media-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 41px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid rgba(126, 132, 127, 0.2);

  fill: var(--light-gray-color);
  transition: border 250ms var(--transition-animation),
    fill 250ms var(--transition-animation);
}

.social-media-link:hover,
.social-media-link:focus {
  border: 1px solid rgba(95, 101, 96, 0.2);
  fill: var(--gray-color);
}
